:root {
    --neutral-900: #343e4c;
    --neutral-500: #848990;
    --neutral-200: #E1DDDA;
    --neutral-100: #F4F1EB;
    --neutral-50: #FEFCF6;
    --neutral-0: #FFFFFF;
    --teal-600: #0E8684;
    --teal-300: #66D2CF;
    --orange-200: #FDD6BA;
}

body {
    font-family: "Fraunces", serif;
    margin: 24px 16px;

    @media screen and (min-width: 768px) {
        margin: 32px 40px;
    }

    @media screen and (min-width: 1024px) {
        margin: 40px 80px;
    }


}

.button {
    border: none;
    padding: 16px 32px;
    border-radius: 6px;
    font-size: 18px;
    color: var(--neutral-0);
}

.primary {
    background-color: var(--teal-600);
}

.primary:hover {
    background-color: var(--teal-300);
    cursor: pointer;
}

.primary:focus {
    background-color: var(--teal-600);
    outline: 2px solid var(--teal-600);
    outline-offset: 3px;
}

.disabled {
    background-color: var(--neutral-200);
    color: var(--neutral-500);
    cursor: not-allowed;
}


/* Navigation */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hamburger {
    border: none;
    background-color: transparent;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    font-size: 24px;
    text-align: center;
    padding: 0;

    ul > li
    {
        list-style-type: none;
        
    }
}

.nav-closed {
    display: none;
}

a:link {
    text-decoration: none;
    color: var(--neutral-900);
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 33px;
    list-style: none;
    font-size: 12px;
    padding: 0;
}

.navbar-desktop {
    display: flex;
    justify-content: space-between;
}



/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    gap: 24px;
    padding: 40px 20px;
    background-color: var(--neutral-900);

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

}

.footer-items {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 12px;
    padding: 0;
    color: var(--neutral-500);
}

.icon-container {
    display: flex;
    gap: 20px;
    height: 20px;
}



/* Header */

header {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-section {
 
  text-align: center;
  color: white;

  img {
    width: 100%;
    border-radius: 10px;
  }
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.header-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.cta-button {
  background-color: #0e8784; /* Match the button color */
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #1a9a96; /* Slightly lighter shade for hover */
}